body {
  margin: 0;
}

header {
  background-image: url("https://10websites-design-to-html-css.netlify.app/restaurant-design/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0px 400px;
}

a {
  color: white;
  text-decoration: none;
}

.nav {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 30px;
}

.logo {
  color: rgb(2, 91, 150);
}

.second-nav a {
  background-color: rgb(2, 91, 150);
  width: 100%;
  padding: 10px 30px;
}

.active {
  background-color: white !important;
  color: rgb(2, 91, 150);
}

.highlight {
  background-color: rgb(46, 144, 230) !important;
}

.content {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.content h1 {
  background-color: rgb(2, 91, 150);
  font-size: 50px;
  color: white;
  padding: 16px;
  display: inline-block;
}
.white-link {
  background-color: white;
  color: rgb(2, 91, 150);
  padding: 16px;
  font-size: 30px;
}
.teal-link {
  background-color: rgb(20, 129, 184);
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 30px;
}
